* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}
body{
 background-color:rgb(245, 240, 239);
}
.header-box{
    height:150px;
    max-width:70%;
    margin:40px auto;
    background-color: rgba(238, 89, 126, 0.171);
    box-shadow: 10px 10px 10px grey;
  }
.heading {
  font-size: 50px;
  text-align: center;
  padding-top:15px;
  color:rgb(119, 48, 48);
  text-shadow: 5px 5px 5px rgb(96, 108, 129);
}
form {
  text-align: center;
}

ul p {
  text-align: center;
}
ul li {
  list-style-type: none;
  text-align: center;
  display: flex;
}
.noteBtn,
.delete,.due-date {
  width: 100px;
  font-size: 20px;
  border-radius: 10px;
  margin: 0px 0px 10px 10px;
}
.popdiv .popUp {
  height: 100px;
  width: 300px;
  border: 1px solid black;
  outline: none;
  resize: none;
}

.textArea {
  height: 40px;
  width: 200px;
  outline: none;
  resize: none;
}

ul li .strike-through {
  text-decoration: line-through;
  pointer-events: none;
  opacity: 0.4;
}
.popdiv {
  background-color: yellow;
  height: 150px;
  width: 300px;
  position: fixed;

  /* top: 50%;
  left: 50%; */
  top: calc(50vh - 75px);
  left: calc(50vw - 150px);
}

.cancelBtn {
  margin: 3px;
}
.saveBtn {
  margin: 3px;
}
.hide {
  display: none;
}
.due-date-box{
  max-height:25px;
  max-width:150px;
 
  padding:10px;
  margin-top:10px;
  padding:5px;
}
.date-div{
  background-color: yellow;
  position: fixed;
  /* top: 50%;
  left: 50%; */
  top: calc(50vh - 10px);
  left: calc(50vw - 150px);
}

